PHONE_NUMBER=263780026088
PREFIX=.
OWNER=Malvin C
CHANNEL_LINK=https://whatsapp.com/channel/0029Vb7Eyki7T8bSNsTtjv1q
GROUP_LINK=https://chat.whatsapp.com/Kahnm6bKMf23mA0Vig5Qo1?s=cl&p=a&mlu=0yki7T8bSNsTtjv1q
BANNER_URL=https://files.catbox.moe/uj95z3.jpg
PORT=3000